@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Language Translator</h1>
    <p>A lightweight language translator web tool.</p>
</div>

<div class="text-left">
    <p>
        <form id="" name="" action="" method="get">
            <p>
                <label for="selFromLanguage">From Language:</label>
                <select id="selFromLanguage" name="selFromLanguage">
                    <option value="en-us">English</option>
                    <option value="fr-fr">French</option>
                    <option value="de-de">German</option>
                    <option value="es-es">Spanish</option>
                </select>
            </p>
            <p>
                <label for="txtFromInput">From Text:</label><br />
                <textarea id="txtFromInput" name="txtFromInput" rows="4" cols="50"></textarea>
            </p>
            <p>
                <label for="selToLanguage">To Language:</label>
                <select id="selToLanguage" name="selToLanguage">
                    <option value="en-us">English</option>
                    <option value="fr-fr">French</option>
                    <option value="de-de">German</option>
                    <option value="es-es">Spanish</option>
                </select>
            </p>
            <p>
                <label for="txtToInput">To Text:</label><br />
                <textarea id="txtToInput" name="txtToInput" rows="4" cols="50"></textarea>
            </p>

            <p>
                <input type="submit" id="" name="" value="Translate" />
                <input type="reset" id="" name="" value="Start Again" />
            </p>
        </form>
    </p>
</div>
<script>const textField = document.getElementById("fromInput"); textField.focus();</script>