@{
    ViewData["Title"] = "Home";
    @using Microsoft.AspNetCore.Mvc.Localization;
}

<div class="text-center">
    <h1 class="display-4">Language Translator</h1>
    <p>A lightweight language translator web tool.</p>
    <p><i>@ViewBag.Message</i></p>
</div>

<div class="text-left">
    <p>
        <form id="frmLanguageTranslator" name="frmLanguageTranslator" action="/" method="get">
            <p>
                <label for="txtTranslationInput">From Text:</label><br />
                <textarea id="txtTranslationInput" name="txtTranslationInput" rows="5" cols="50">@ViewBag.InputText</textarea>
            </p>
            <p>
                <label for="selToLanguage">To Language:</label>
                <select id="selToLanguage" name="selToLanguage">
                    <option value="en">English</option>
                    <option value="fr">French</option>
                    <option value="de">German</option>
                    <option value="es">Spanish</option>
                </select>
            </p>
            <p>
                <label for="txtToInput">To Text:</label><br />
                <textarea id="txtToInput" name="txtToInput" rows="5" cols="50">@ViewBag.TranslatedText</textarea>
            </p>
            <p>
                <input type="submit" id="btnSubmit" name="btnSubmit" value="Translate" />
                <input type="reset" id="btnReset" name="btnReset" value="Start Again" onclick="replaceCurrentPage('/');" />
            </p>
        </form>
    </p>
</div>
<script>const txtTranslationInput = document.getElementById("txtTranslationInput"); txtTranslationInput.focus();</script>