@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Language Translator</h1>
    <p>A lightweight language translator web tool.</p>
</div>

<div class="text-left">
<p>
    <form id="" name="" action="" method="get">
        <p>
            <label for="w3review">From Language:</label>
    <select id="" name="">
            <option value="en-us">English</option>
            <option value="fr-fr">French</option>
            <option value="">Spanish</option>
            <option value="">German</option>
    </select>
    </p>
        <p>
            <textarea id="fromInput" name="fromInput" rows="4" cols="50">Enter text to translate from.</textarea>
        </p>
        <p>
            <label for="w3review">To Language:</label>
        <select id="" name="">
            <option value="">English</option>
            <option value="">French</option>
            <option value="">Spanish</option>
            <option> value=""German</option>
        </select>
        </p>
        <p>
    <textarea id="toInput" name="toInput" rows="4" cols="50">Enter text to translate to.</textarea>
        </p>

        <p>
        <input type="submit" id="" name="" value="Translate" />
        <input type="reset" id="" name="" value="Start Again" />
        </p>
    </form>
</p>
</div>